body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #004225;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: #ffdf00;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #004225;
}

.imagem {
    width: 80%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border: 2px solid #004225;
}

footer {
    background-color: #004225;
    color: white;
    text-align: center;
    padding: 15px;
}
