body {
    background-color: black ;
    color;
    text-align: center;

}
h1{
    font-style:oblique;
    color: brown;
}

p{
    font-style:oblique
    max-width: 1000;
    color: crimson;
}
.img {
    width:50%
}
